/BEP_venv
/data
/temp.py
/config.py
/__pycache__/
/preprocessing/__pycache__/
/model_training/__pycache__/
/evaluation/__pycache__/
/evaluation/statistical_testing.py
/evaluation/results_different_stains.py
/evaluation/figuren_aanpassen.py